html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container.encuesta-container {
    height: 100%;
    padding: 0;
}

.encuesta-container iframe {
    height: 100%;
    width: 100%;
    border: none;
}
iframe {
    border: none;
    width: 100%;
    height: 100vh; /* ajusta el alto del iframe al alto de la pantalla */
    overflow: auto; /* permite que haya una barra de desplazamiento dentro del iframe si es necesario */
}
