body {
    overflow-x: hidden;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.sidebar {
    position: fixed;
    top: 56px; /* Altura del navbar */
    left: 0;
    bottom: 0;
    width: 250px;
    overflow-y: auto;
    background-color: #f8f9fa;
    padding-top: 20px;
    z-index: 1020;
}
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
}
.sidebar a:hover {
    background-color: #ddd;
}
.main-content {
    margin-left: 250px;
    margin-top: 56px; /* Altura del navbar */
    padding: 20px;
    height: calc(100vh - 56px);
    overflow-y: hidden;
}
#mainFrame {
    width: 100%;
    height: 100%;
    border: none;
}